body {
    background-color: #1f232d;
    margin-top: 60px;
    padding: 20px;
    color: white;
}

/* Navbar Styling */
header nav {
    position: fixed;    
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
}

.navbar {
    margin: 5px 20px 0 auto;
}

nav .menu {
    display: flex;
    justify-content: flex-end;
}

nav .menu li {
    list-style: none;
    margin: 0 20px;
}

nav .menu a {
    color: #1fbebf;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav .menu a:hover {
    color: #D2471F;
}

.active {
    text-decoration-line: underline !important;
    text-decoration-thickness: 3px !important;
}

.custom-bg-color {
    background-color: #10151d;
}

/* Quote text styling */
#typing-container {
    position: relative;
    overflow: hidden;
    height: 2.1em; 
    text-align: center;
    color: #1fbebf;
    font-weight: bold;
}
  
#typing-effect {
    font-size: 24px;
    white-space: pre;
    top: 0;
    left: 0;
}

/* Logo Image Styling */
#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    width: 350px;
    height: 200px;
}

/* Arrow Styling */
#arrow {
    display: flex;
    justify-content: center;
}

#arrow2 {
    display: flex;
    justify-content: center;
}

#arrow img {
    width: 150px;
    height: 200px;
}

#arrow2 img {
    width: 150px;
    height: 200px;
}

/* Content Styling */
#content {
    background: radial-gradient(rgba(103, 228, 221, 0.7), rgb(88, 230, 223, 0.7));
    box-shadow: 1px 0px #1cbab2, -1px 0px #1cbab2, 0px 1px #1cbab2, 0px -1px #1cbab2, 3px 0px #158e88, -3px 0px #158e88, 0px 3px #158e88, 0px -3px #158e88;
    width: 50%;
    font-family: Google Sans Text,ui-sans-serif,system-ui,-apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
}

/* Button Styling */
.buttons {   
    text-align: center;
}

.buttons button {
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(135deg, #72bee1 10%, #1f49d2 100%);
    margin-bottom: 10px;
}

.buttons button:hover {
    transform: scale(0.97);
}
  
/* Audio Styling */
.audio-container {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* About Container Styling */
.cover {
    width: 900px;
    height: 400px;
    margin-top: 40px;
    display: flex;
}

.box {
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pfp {
    width: 300px;
    height: 300px;
}

#art-generator{
    padding: 20px;
}